<h1 id="tableLabel">List of books</h1>
<p *ngIf="!books"><em>Loading...</em></p>


<div>
  <ul *ngFor="let book of books index as i;">
    <li (click)=onEdit(book)>

      {{book.title}} {{book.author}}
    </li>
  </ul>
  <label>
    Title
  </label>
  <input id="selectedBooktitle"
         [(ngModel)]="selectedBookTitle" />

  <label>
    Author
  </label>
  <input id="selectedBookauthor"
         [(ngModel)]="selectedBookAuthor" />
  <label>
    Description
  </label>
  <input id="selectedBookdescription"
         [(ngModel)]="selectedBookDescription" />
</div>
<button (click)="saveBook()" type="button">Save</button>
<button type="button" (click)="addBook()">Save new</button>
<button type="button" (click)="OnDelete(selectedBook)">Delete</button>



